footer{
    background-color: var(--green-color);
    color: #fff;
}
  
.footer-content{
    height: 125px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials{
    display: flex;
    justify-content: center;
    gap: 20px;
}
  
.socials > a:hover img{
    filter: invert(5%);
}
  
.footer-content > p{
    font-size: 20px;
}
  
@media(max-width: 768px){
    .footer-content {
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        text-align: center;
    }
}