.header{
    background-color: var(--green-color);
}
  
.nav-bar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 125px;
    font-size: 20px;
}
  
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    gap: 15px;
}
  
nav{
    display: flex;
    gap: 30px;
}

nav > a{
    color: #fff;
}
  
.burger-button{
    display: none;
}
  
@media(max-width: 768px){
    nav{
        display: none;
    }
    .burger-button{
        display: block;
    }
}